#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px double black;
}

#score {
    text-align: center;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    /* -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate; */
}

/* #startBtn {
    position: absolute;
    display: block;
    justify-content: center;
    top: 15%;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
} */

body {
    background: url('https://i.imgur.com/5Oqepq8.png') no-repeat center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Codystar', cursive;
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
       text-shadow: 0 0 10px #fff, 
                    0 0 20px #fff, 
                    0 0 30px #e60073, 
                    0 0 40px #e60073, 
                    0 0 50px #e60073, 
                    0 0 60px #e60073, 
                    0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 
                   0 0 30px #ff4da6, 
                   0 0 40px #ff4da6, 
                   0 0 50px #ff4da6, 
                   0 0 60px #ff4da6, 
                   0 0 70px #ff4da6, 
                   0 0 80px #ff4da6;
    }
  }

  /* @-webkit-keyframes glow2 {
    from {
       text-shadow: 0 0 10px #fff, 
                    0 0 20px #fff, 
                    0 0 30px #e9d83c93, 
                    0 0 40px #e9d83c93, 
                    0 0 50px #e9d83c93, 
                    0 0 60px #e9d83c93, 
                    0 0 70px #e9d83c93;
    }
    to {
      text-shadow: 0 0 20px #fff, 
                   0 0 30px #e2e062, 
                   0 0 40px #e2e062, 
                   0 0 50px #e2e062, 
                   0 0 60px #e2e062, 
                   0 0 70px #e2e062, 
                   0 0 80px #e2e062;
    }
  } */